include *.txt
include *.md
include *.cfg
include *.pkl
include *.keep

recursive-include gousto_test/*
recursive-include tests/*

include ./requirements.txt
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
